name: Simple Deployment App
on:
  push:
    branches:
    - master

jobs:
  deploymentjob:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build docker image
      run: |
        docker build -t 17csc028/k8sapp .

    - name: Docker login
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

    - name: Push image to Docker Hub
      run: docker push 17csc028/k8sapp
